.SignIn {
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: "Karla";
    flex: 1 0 auto;
    height: 100%;
}


/* #signinillustration {

} */

#signinillustration img {
    height: 350px;
}

#signinform {
    padding-top: 100px;
    min-height: 300px;
    padding: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#signInBtn {
    background: #0A537B;
}



.DetailsTextBox.dtbError {
    border: 2px solid #FF6161;
}

.statusText {
    color: #1f1f1f;
    font-size: 9pt;
    width: 300px;
}

.show {
    visibility: visible;
    color: #FF6161;
}

.hide {
    visibility: hidden;
}