.StoriesContainer {
    padding: 20px;
    min-height: 100vh;
}

.ContainerHeader {
    align-items: center;
}

#ContainerHeaderText {
    background: none;
    /* padding: 20px; */
    font-family: "Karla";
    font-size: 30pt;
    font-weight: bold;
}

#newStoryBtn {
    text-decoration: none;
    height: 40px;
    width: 300px;
    background: #0A537B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: "Karla";
    box-shadow: 0px 2px 5px #00000060;
}