.UserProfile {
    min-height: 100vh;
    margin-bottom: 50vh;
    max-width: 100vw; 
    font-family: "Cabin";
}

.HeaderRow {
    max-width: 100vw;;
    border-top: 1px dashed #101010;
    border-bottom: 1px dashed #101010;
    color: #ffffff;
    height: 50vh;
    align-items: flex-end;
    padding: 40px;
    background-size: auto 60vh;
    background-position: left bottom;
    background-color: #303030;
}

.HeaderRow {
    background: linear-gradient(241deg, #355c7d, #6c5b7b, #c06c94);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 36s ease infinite;
    -moz-animation: AnimationName 36s ease infinite;
    animation: AnimationName 36s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}

.HeaderText {
    display: block;
    font-size: 38pt;
    font-weight: bold;
    background: #7a7a7a05;
}

.TwitterLink {
    color: black;
    text-decoration: none;
}

.TwitterLink:hover {
    color: black;
    text-decoration: none;
}

.AboutRow {
    padding: 30px;
    align-items: baseline;
}

.About {
    display: block;
    font-size: 22pt;
    font-weight: bold;
    padding: 20px;
}

p.BioText {
    /* width: 40vw; */
    padding: 20px;
    text-align: left;
    background: #7a7a7a10;
    font-size: 14pt;
    font-family: "Newsreader";
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    
}

.HeaderTwitterText {
    background: #ffffffcc;
    padding: 5px;
    color: #1a1a1a;
    border-radius: 5px;
}

.ProfileHeaderImage {
    max-height: 50vh;
    max-width: 50vh;
}
