.Header {
    max-width:  100vw;
    align-items: center;
    min-height: 5vh;
    padding: 20px;
    font-family: "Cabin";
    font-size: 12pt;

}

#headerGreeting {
    padding: 10px 20px;
    align-items: center;
}

#headerWordmark {
    align-content: center;
    padding: 20px;
}

#headerWordmark span img {
    height: 30px;
}

#headerImage {
    border: none;
}